*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: saddlebrown;
    position: absolute;
    top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: anim 2s ease-in-out 1s infinite both;
}

@keyframes anim
{
    0%{
        left:0;
    }
    80%{
        left: 60%;
    }
    100%{
        left:0;
    }
}
